.navbar-default .navbar-brand {
	text-shadow: 2px 2px 6px #000;
}

header {
	min-height: 100vh;
	background-image: url('../img/hero-img.jpg');
}
header .intro-text .intro-lead-in,
header .intro-text .intro-heading {
	text-shadow: 3px 3px 6px #000;
}


/*About me section*/
.team-member img{
	margin:0; border: 7px solid #fff; 
	margin-top: 50px;
	height:320px; 
	width:320px; 
} 

div.img-circle{  
}

section#portfolio {
	padding:0;
	background-image: url("../img/subtle_stripes.png");
	padding-bottom:80px;
	min-height: 100vh;
}

section#about.bg-light-gray {
    background-color: #f7f7f7;
    padding-bottom: 120px;
}

.top_section{
    padding-top: 100px;
}

.portfolio-caption{
	padding: 15px !important;
}

section#contact{
	padding: 40px !important;
	padding-bottom:15px;
}

.portfolio-caption {
	background-color:rgba(0,0,0,.5)!important;
	}